openapi: "3.0.1"
info:
  title: "Historic Management API"
  description: "This API offers services of control over historic."
  version: "1.0"
  contact:
    email: "g2_family_lock@gmail.com"
    name: "G2 - Family Lock"
    url: "https://s-computing.blogspot.com/2020/09/familylock.html"
  license:
    name: "CC-BY-NC-CA-4.0"
    url: "https://creativecommons.org/licenses/by-nc/4.0/"
servers:
- url: http://historic.familylock.es
  description: Production server
- url: http://beta.historic.familylock.es
  description: Beta server
paths:
  /historic/{id}:
    get: 
      description: "Get one visit information"
      operationId: get_visit
      parameters:
      - description: "ID of visit to get information"
        name: id
        in: path
        required: true
        schema:
          type: integer
        example: "3"
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                example: { "device MAC":"ff:ff:ff:ff:ff:ff", "date":"20/11/2020", "time":"17:30:07" }
                title: "Info"
                type: string
        '404':
          $ref: '#/components/responses/404NotFound'
      summary: "Get one visit's information"
      tags:
      - Historic
      x-swagger-router-controller: LegitimatePerson
      x-openapi-router-controller: openapi_server.controllers.legitimate_person_controller
  /historic:
    get: 
      description: "Get all visits from historic"
      operationId: get_all_historic
      responses:
        '200':
          description: "OK"
          content:
            application/json:
              schema:
                example: [ { 'id':'1', 'person_MAC':["ff:ff:ff:ff:ff:ff"], 'date':"20/11/2020", 'time': "17:30:13" }]
                title: ""
                type: string
        '404':
          $ref: '#/components/responses/404NotFound'
      summary: "Get all visits from historic"
      tags:
      - Historic
      x-swagger-router-controller: LegitimatePerson
      x-openapi-router-controller: openapi_server.controllers.legitimate_person_controller
    post: 
      description: "Add a visit to historic"
      operationId: add_visit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Visit'
        required: true
      responses:
        '200':
          description: "OK"
          content:
            text/plain:
              schema:
                example: "OK"
                title: "OK"
                type: string
        '404':
          $ref: '#/components/responses/404NotFound'
      summary: "Add a visit to historic"
      tags:
      - Historic
      x-swagger-router-controller: LegitimatePerson
      x-openapi-router-controller: openapi_server.controllers.legitimate_person_controller
components:
  schemas:
    Visit:
      properties:
        person_MAC:
          type: array
          items:
            type: string
        date:
          type: string
        time:
          type: string
      type: object
      example:
        person_MAC: ["ff:ff:ff:ff:ff:ff"]
        date: "20/11/2020"
        time: "17:30:13"
      x-body-name: visit
  responses:
    404NotFound:
      description: "Not found response"
      content:
        text/plain:
          schema:
            example: "Not found"
            title: "Endpoint not found"
            type: string
  